{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{super()}}
{{ dropzone.load_css() }}
{{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
{% endblock %}

{% block app_content %}
    <br>
    <h1> {{ title }} </h1>

    <h1>YAML-Formatted MDF File Upload</h1>
    <div>
    {{ dropzone.create(action='main.diff') }}
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}
    </div>
    <br>
    <br>
    <div>
    <form action="{{ url_for('main.diff') }}" method="POST">
        {{ form.hidden_tag() }}
        <div>
        {{ form.mdf_a.label }}
        {{ form.mdf_a }}
        </div>
        <br>
        <div>
        {{ form.mdf_b.label }}
        {{ form.mdf_b }}
        </div>
        <br>
        {{ form.submit }}
    </form>
    </div>
    <br/>
    <br/>

    <div>
        Well....
        {% if mdf_diff is defined and mdf_diff %}
        I GOT {{ mdf_diff }}
        {% endif %}

    
    </div>

YUCK

{% endblock %}    