{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}
    <br>
    <h1> Edit Data Subsets</h1>
    <br>
   
    <form action="{{ url_for('datasubsets.act') }}" method="POST">
        {{ form.hidden_tag() }}  
        {{ form.csrf_token() }} 

    <div class="container">
        <div class="row"> 
            <div class="col-3">
                        {{ render_field(form.aset) }}
            </div>   
            <div class="col-3">
                        {{ render_field(form.bset) }}
            </div>
            <div class="col-3">             
                    {{ render_field(form.entire_model) }}
            </div>
            <div class="col-3">             
                {{ render_field(form.newsubset_model) }}
                {{ render_field(form.newsubset_tag) }}
            </div>
        </div>   
        <div class="row">
            <div class="col-3">             
                    {{ render_field(form.submit, button_map={'submit': 'primary' }) }}
            </div>
            <div class="col-3">             
                    &nbsp;
            </div>
            <div class="col-3">             
                    {{ render_field(form.entire, button_map={'entire': 'secondary' }) }}
            </div>
            <div class="col-3">             
                {{ render_field(form.create, button_map={'create': 'secondary' }) }}
            </div>
        </div>   <!-- end row-->
    </div>    
            
    </br>
    </br>

    <div class="container">     
         <div class="row w-100">
            <div class="col-6"> 

                <h3> Dataset: {{ taga }}</h3>
                <table class="table table-striped">
                    <tr>
                            <th>Node</th>
                            <th>Property</th>
                            <th>Remove</th>
                    </tr>
                
                    {% if formatteda %}
                    {% for tag in formatteda %}

                    {% for row in formatteda[tag] %}
                        <tr>
                                <td> <a href="{{url_for('main.nodes', id=row[1] ) }}">{{ row[0] }}</a> </td>
                                <td> <a href="{{url_for('main.properties', id=row[3] ) }}">{{ row[2] }}</a> </td>
                                <td> <a href="{{url_for('datasubsets.remove', remove_id=row[3], aset=form.aset.data, anode=row[1], bset=form.bset.data) }}" , class="badge badge-secondary"><i class="bi bi-x-square-fill"></i> Remove</a>
                                </td>
                        </tr>
                   {% endfor %}
                  <!--</table> -->

                {% endfor %} 
                {% else %}
                {% endif %}
            </table>

            <br><br>
            </div>

            <div class="col-6">

                {% if tagb == 'all' %}
                    <h3> Entire Model: {{ modelb }}</h3>
                {% else %}
                    <h3> Reference Dataset: {{ tagb }} </h3>
                {% endif %}
                <table class="table table-striped">
                    <tr>
                        <th>Node</th>
                        <th>Property</th>
                        <th>Remove</th>
                    </tr>

                {% if formattedb %}
                {% for tag in formattedb %}
                    {% for row in formattedb[tag] %}
                        <tr>
                            <td> <a href="{{url_for('main.nodes', id=row[1] ) }}">{{ row[0] }}</a> </td>
                            <td> <a href="{{url_for('main.properties', id=row[3] ) }}">{{ row[2] }}</a> </td>
                            <td> 
                                {% if tagb == 'all' %}
                                    <a href="{{url_for('datasubsets.add',    add_id=row[3],    aset=form.aset.data, bset=modelb, entire=1, bnode=row[1] ) }}" , class="badge badge-primary"><i class="bi bi-plus-circle-fill" style="color: white;"></i> Add</a>
                                {% else %}
                                    <a href="{{url_for('datasubsets.add',    add_id=row[3],    aset=form.aset.data, bset=form.bset.data, bnode=row[1] ) }}" , class="badge badge-primary"><i class="bi bi-plus-circle-fill" style="color: white;"></i> Add</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                <br><br>
                {% endfor %} 
                {% else %}
                {% endif %}
            </div> <!-- end row-->
        </div>
    </div>

 </form>    

{% endblock %}
