{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <br>
    <nav aria-label="...">
        <ul class="pager">
      <li class="model">
         <a href="{{ url_for('main.models') }}"> List Models </a>
      </li>
      <li class="nodes">
         <a href="{{ url_for('main.nodes') }}"> List Nodes </a>
      </li>
      <li class="properties">
         <a href="{{ url_for('main.properties') }}"> List Properties </a>
      </li>
      <li class="terms">
         <a href="{{ url_for('main.terms') }}"> List Terms </a>
      </li>
      <li class="origins">
         <a href="{{ url_for('main.origins') }}"> List Origins </a>
      </li>
    </ul>
    </nav>
    <br><br>
    <div>
    <h4><a href="{{ url_for( 'main.about_mdb') }}">About MDB</a></h4>
    <br>
    <h4><a href="{{ url_for( 'main.about_sts') }}">About STS</a> and how to filter</h4>
    <br>
    <h4><a href="{{ url_for( 'main.diff') }}">MDF Diff</a> -- Find the diff between 2 MDF files</h4>
</div>
{% endblock %}
