{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}
    <br>
    <nav aria-label="...">
        <ul class="pager">
      <li class="model">
         <a href="{{ url_for('main.models') }}"> List Models </a>
      </li>
      <li class="nodes">
         <a href="{{ url_for('main.nodes') }}"> List Nodes </a>
      </li>
      <li class="properties">
         <a href="{{ url_for('main.properties') }}"> List Properties </a>
      </li>
      <li class="terms">
         <a href="{{ url_for('main.terms') }}"> List Terms </a>
      </li>
      <li class="origins">
         <a href="{{ url_for('main.origins') }}"> List Origins </a>
      </li>
    </ul>
    </nav>

   <ul class="pager">
      <li class="index">
         <a href="{{ url_for('datasubsets.index') }}"> List Tag Index - list all tags one page </a>
      </li>
      <li class="tags">
         <a href="{{ url_for('datasubsets.tags') }}"> List Tags - defferent tags()</a>
      </li>
      <li class="tagbeta">
         <a href="{{ url_for('datasubsets.tagbeta') }}"> List Tags beta - show all icdc one page or ctdc one page</a>
      </li>
      <li class="taggamma">
         <a href="{{ url_for('datasubsets.taggamma') }}"> List Tags gamma - do select avail tags (context select) ICDC -> </a>
      </li>
      <li class="tagdelta">
         <a href="{{ url_for('datasubsets.tagdelta') }}"> List Tags delta - show paired datasets</a>
      </li>
      <li class="tagepsilon">
         <a href="{{ url_for('datasubsets.tagepsilon') }}"> List Tags epsilon - show tags, using tag's model</a>
      </li>
   </ul>


    <br><br>
    <div>
    <h4><a href="{{ url_for( 'main.about_mdb') }}">About MDB</a></h4>
    <br>
    <h4><a href="{{ url_for( 'main.about_sts') }}">About STS</a> and how to filter</h4>
    <br>
    <h4><a href="{{ url_for( 'main.diff') }}">MDF Diff</a> -- Find the diff between 2 MDF files</h4>
</div>
{% endblock %}
