{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <br>
    <h1> {{ title }} </h1>
    {% if display == 'detail'  %}
    <br><br>
    <div>
      <h3> Details </h3>
      <div id="termDetail" name="termDetail" style="margin:20px; padding:20x">
      <table class="table-striped">
          <thead>
         <tr>
            <th style="width:300px"> Term Value </th> 
            <th style="width:300px"> <a href="{{url_for( subtype, id=mdb.id ) }}"> {{mdb.value}} </a>        </th>
       </tr>
          </thead>
          </tbody>
         <tr>
             <td> Id </td> <td>{{mdb.id}} </td>
        </tr>
       <tr>
        <td> Origin Id </td> <td>{{mdb.origin_id}} </td>
   </tr>
   <tr>
       <td> Origin Definition </td> <td>{{mdb.origin_definition}} </td>
  </tr>
  </tbody>
      </table>
      </div>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editTermModal">
    Edit Term
    </button>
    <br><br>
   
    <!-- Modal -->
<div class="modal fade" id="editTermModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="form" method="post" role="form">
   
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title" id="exampleModalLabel">Edit Term</h3>
        </div>
       <!-- <form class="form form-horizontal" method="post" role="form"> -->
        <div class="modal-body">

                    {{ form.hidden_tag() }}
                    {{ wtf.form_errors(form, hiddens="only") }}
                    {{ wtf.form_field(form.termvalue) }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          {{ wtf.form_field(form.submit) }}
        </div>
        </form>
      </div>
    </div>
  </div>
<!-- End Modal-->
    <br><br>

    <div>
        {% if mdb.has_origin %}
        <h3> Origin  </h3>
        <div id="valuesetDetail" name="valuesetDetail" style="margin:20px; padding:20x">

            <table  class="table-striped">
                <thead>
                <tr> <th style="width:300px"> Origin Name  </th>  
                     <th style="width:300px"> <a href="{{url_for( 'main.origins', id=mdb.has_origin.id ) }}"> {{ mdb.has_origin.name }}</a> </th>
                </tr>
                </thead>
                <tbody>
                <tr> 
                    <td>  Id </td>  
                    <td> {{ mdb.has_origin.id }} </td>
                </tr>
                </tbody>
            </table>
            <br>
            </div>
        {% endif %}
    </div>

    {% endif %}
{% endblock %}

<!--
{% block script %}
<script>
$('#modal-confirm').click(function(){
    // Perform the action after modal confirm button is clicked.
    $('#form-submit').click(); // submitting the form
});
</script>
{% endblock %}
-->