{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}
    <br>
    <h1> {{ title }} </h1>
    {% if display == 'list' %}

    <br><br>
      <table class="table table-striped">
         <tr>
             <th> List of all Models </th> <th></th>
         </tr>
         {% for item in mdb %}
         <tr> <td> <a href="{{url_for( subtype, name=item ) }}">{{ item }}</a>  </td> <td> (file: <a href="{{url_for( 'main.models', name=item, format='yaml' ) }}"> {{item}}.yaml</a>)</td> </tr>
         {% endfor %}
       </table>
       <br><br>
    {% endif %} 

    {% if display == 'detail' %}
    <div class="float-right">
        <a href="{{url_for( subtype, name=mdb.handle, format='yaml' ) }}" class="btn btn-outline-primary btn-sm"> Export Yaml</a>
    </div>
        {% if mdb.handle == 'ICDC' %}
        <br>
        ICDC Nodes: <a href="{{url_for( 'main.nodes', model=mdb.handle ) }}"> link </a>
        <br>
        View model in <a href="https://cbiit.github.io/icdc-model-tool/">Github</a>
        <br>
        <br> 
        <div >
        {% include 'vis-icdc.html' %}
        </div>

        <br>
        <img src="/static/icdc-model.svg" alt="icdc-model" class="img-fluid" width="900">
        {% endif %}

        {% if mdb.handle == 'CTDC' %}
        <br>
        CTDC Nodes: <a href="{{url_for( 'main.nodes', model=mdb.handle ) }}"> link </a>
        <br>
        View model in <a href="https://cbiit.github.io/ctdc-model/">Github</a>
        <br>
        <br>
        <div>
            {% include 'vis-ctdc.html' %}
            </div>
        <br>
        <img src="/static/ctdc-model.svg" alt="ctdc-model" class="img-fluid" width="900">
        {% endif %}
        
        {% if mdb.handle == 'Bento' %}
        <br>
        Bento Nodes: <a href="{{url_for( 'main.nodes', model=mdb.handle ) }}"> link </a>
        <br>
        View model in <a href="https://github.com/CBIIT/BENTO-TAILORx-model">Github</a>
        <br>
        <br>
        <div>
            {% include 'vis-bento.html' %}
        </div>

        {% endif %}
    {% endif %}


{% endblock %}
