{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <br>
    <h1> {{ title }} </h1>
    {% if display == 'list' %}
    <br><br>
      <table >
         <tr>
             <th> List of all Models </th>
         </tr>
         {% for item in mdb %}
         <tr> <td> <a href="{{url_for( subtype, name=item ) }}">{{ item }}</a> </td> </tr>
         {% endfor %}
       </table>
       <br><br>
    {% endif %} 

    {% if display == 'detail' %}
        {% if mdb.handle == 'ICDC' %}
        <br>
        ICDC Nodes: <a href="{{url_for( 'main.nodes' ) }}"> link </a>
        <br>
        View model in <a href="https://cbiit.github.io/icdc-model-tool/">Github</a>
        <br>
        <br>
        <img src="/static/icdc-model.svg" alt="icdc-model" class="img-fluid" width="900">
        {% endif %}

        {% if mdb.handle == 'CTDC' %}
        <br>
        CTDC Nodes: <a href="{{url_for( 'main.nodes' ) }}"> link </a>
        <br>
        View model in <a href="https://cbiit.github.io/ctdc-model/">Github</a>
        <br>
        <br>
        <img src="/static/ctdc-model.svg" alt="ctdc-model" class="img-fluid" width="900">
        
        {% endif %}
    {% endif %}


{% endblock %}
