{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}
    <br>
    <h1> {{ title }} </h1>
    <div class="float-right">
      <a href="{{url_for( subtype ) }}" class="btn btn-outline-primary btn-sm"> All Models </a>
      <a href="{{url_for( subtype, model='Bento' ) }}" class="btn btn-outline-primary btn-sm"> Bento  </a>
      <a href="{{url_for( subtype, model='CTDC' ) }}" class="btn btn-outline-primary btn-sm"> CTDC  </a>
      <a href="{{url_for( subtype, model='ICDC' ) }}" class="btn btn-outline-primary btn-sm"> ICDC  </a>
    </div> 
    {% if display == 'list'  %}
    <br><br>
    <div id="listall" name="listall" style="margin:20px; padding:20x">
      <table class="table table-striped">
         <tr>
             <th> Name </th>
         </tr>
         {% for dict_item in mdb %}
         {% for key, value in dict_item.items() %}
         <tr> <td> <a href="{{url_for( subtype, id=key) }}">{{ value }}</a> </td> </tr>
         {% endfor %}
         {% endfor %}
       </table>      
      </div> 
       <br><br>
    {% endif %}

    {% if display == 'model'  %}
    <br><br>
    <div id="allModel" name="allModel" style="margin:20px; padding:20x">
      <table class="table table-striped">
         <tr>
             <th> Name </th>
         </tr>
         {% for item in mdb %}
         <tr> <td> <a href="{{url_for( subtype, name=item ) }}">{{ item }}</a> </td> </tr>
         {% endfor %}
       </table>
       </div>
       <br><br>
    {% endif %}

    {% if display == 'tuple'  %}
    <br><br>
    <div id="listall" name="listall" style="margin:20px; padding:20x">
      <table class="table-striped">
         <tr>
             <th style="width:300px"> Name </th> <th style="width:300px"> Model</th>
         </tr>
         {% for entry in mdb %}
              <tr> 
                <td> <a href="{{url_for( subtype, id=entry[0] ) }}">{{ entry[1] }}</a> </td> 
                <td> {{ entry[2] }} </td>
              </tr>
         {% endfor %}
       </table>      
      </div> 
       <br><br>
    {% endif %}

    {% if display == 'prop-tuple'  %}
    <br><br>
    <div id="listall" name="listall" style="margin:20px; padding:20x">
      <table class="table-striped">
         <tr>
             <th style="width:300px"> Name </th> 
             <th style="width:300px"> Node</th> 
             <th style="width:300px"> Model</th>
         </tr>
         {% for entry in mdb %}
              <tr> 
                <td> <a href="{{url_for( subtype, id=entry[0] ) }}">{{ entry[1] }}</a> </td> 
                <td> <a href="{{url_for('main.nodes', id=entry[4] ) }}">{{ entry[3] }} </td>
                <td> {{ entry[2] }} </td>
              </tr>
         {% endfor %}
       </table>      
      </div> 
       <br><br>
    {% endif %}

    {% if display == 'term-tuple'  %}
    <br><br>
    <div id="listall" name="listall" style="margin:20px; padding:20x">
      <table class="table-striped">
         <tr>
             <th style="width:300px"> Name </th> 
             <th style="width:300px"> Property</th> 
             <th style="width:300px"> Model</th>
         </tr>
         {% for entry in mdb %}
              <tr> 
                <td> <a href="{{url_for( subtype, id=entry[0] ) }}">{{ entry[1] }}</a> </td> 
                <td> <a href="{{url_for('main.properties', id=entry[4] ) }}">{{ entry[3] }} </td>
                <td> {{ entry[2] }} </td>
              </tr>
         {% endfor %}
       </table>      
      </div> 
       <br><br>
    {% endif %}

{% endblock %}
