{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <br>
    <h1> {{ title }} </h1>
    {% if display == 'detail'  %}
    <br><br>
    <div>
      <h3> Details </h3>
      <table >
         <tr>
            <th> handle </th> <th> <a href="{{url_for( subtype, id=mdb.id ) }}"> {{mdb.handle}} </a>  </th>
       </tr>
         <tr>
             <td> id </td> <td>{{mdb.id}} </td>
        </tr>
        <tr>
            <td> model </td> <td>{{mdb.model}} </td>
       </tr>
      </table>
    </div>

    <br><br>

    <div>
        {% if mdb.has_relationship_from_nodes %}
        <h3> From Nodes to {{mdb.handle}} </h3>
            
            {% for node_item in mdb.has_relationship_from_nodes %}
            <h4>From</h4>
            <table>
                <tr> <th>  handle </th>  
                     <th> <a href="{{url_for( subtype, id=node_item.id ) }}"> {{node_item.handle }}</a> </th>
                </tr>
                <tr> 
                    <td>  id </td>  
                    <td> {{ node_item.id }} </td>
                </tr>
                <tr> 
                    <td>  relationship </td>  
                    <td> {{node_item.relationship.handle }}</td>
                </tr>
            </table>
            <br>
            {% endfor %}
            
        {% endif %}
    </div>

    <div>
        {% if mdb.has_relationship_to_nodes %}
        <h3> From {{mdb.handle}} To Nodes </h3>
            
            {% for node_item in mdb.has_relationship_to_nodes %}
            <h4>To:</h4>
            <table>
                <tr> <th>  handle </th>  
                     <th> <a href="{{url_for( subtype, id=node_item.id ) }}"> {{node_item.handle }}</a> </th>
                </tr>
                <tr> 
                    <td>  id </td>  
                    <td> {{ node_item.id }} </td>
                </tr>
                <tr> 
                    <td>  relationship </td>  
                    <td> {{node_item.relationship.handle }}</td>
                </tr>
            </table>
            <br>
            {% endfor %}
            
        {% endif %}
    </div>


    {% endif %}
{% endblock %}
