{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <br>
    <h1> {{ title }} </h1>
    {% if display == 'detail'  %}
    <br><br>
    <div>
      <h3> Details </h3>
      <table >
         <tr>
            <th> handle </th> <th> <a href="{{url_for( subtype, id=mdb.id ) }}"> {{mdb.handle}} </a>  </th>
       </tr>
         <tr>
             <td> id </td> <td>{{mdb.id}} </td>
        </tr>
        <tr>
            <td> model </td> <td>{{mdb.model}} </td>
       </tr>
       <tr>
            <td> url </td> <td>{{mdb.url}} </td>
       </tr>
       <tr>
         <td> desc </td> <td>{{mdb.desc}} </td>
       </tr>
      </table>
    </div>

    <br><br>

    <div>
        {% if mdb.has_terms %}
        <h3> Terms in Value Set</h3>
            
            {% for term_item in mdb.has_terms %}
            <h4>Term</h4>
            <table>
                <tr> <th> Value  </th>  
                     <th> <a href="{{url_for( 'main.terms', id=term_item.id ) }}"> {{ term_item.value }}</a> </th>
                </tr>
                <tr> 
                    <td>  id </td>  
                    <td> {{ term_item.id }} </td>
                </tr>
            </table>
            <br>
            {% endfor %}
            
        {% endif %}
    </div>

    {% endif %}
{% endblock %}
