{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <br>
    <h1> {{ model|upper }} Tags</h1>
    <br><br>
   
    {% for tag in formatted_tags %}
      <h2> {{ tag }} Tagged Nodes </h2>
      
        <table class="table table-striped">
            <tr>
                <th>Node</th>
                <th>Property</th>
                <th>Tag name</th>
            </tr>
            {% for row in formatted_tags[tag] %}
                <tr>
                    <td> <a href="{{url_for("main.nodes", id=row[1] ) }}">{{ row[0] }}</a> </td>
                    <td> <a href="{{url_for("main.properties", id=row[3] ) }}">{{ row[2] }}</a> </td>
                    <td> {{row[4]}} </td>
                </tr>
            {% endfor %}
        </table>

       <br><br>
    {% endfor %} 

{% endblock %}
