{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}
    <br>
    <h1> Tags</h1>
    <br>
    Trigger: {{ extra }}
    <br>
   
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-2">
                <form action="{{ url_for('datasubsets.tagepsilon') }}" method="POST">
                    {{ form.hidden_tag() }}
                <div class="row">
                    {{ form.datasubsets.label }}
                </div>
                <div class="row">
                    {{ form.datasubsets }}
                </div>
                <div class="row">
                    {{ form.submit }}
                </div>
                </form>
            </div>   
            
             
         </div>
    </div>       
    
    

    {% if formatted_tags %}
    {% for tag in formatted_tags %}
    <h2> {{ tag }} Tagged Nodes </h2>
    
        <table class="table table-striped">
            <tr>
                <th>Node</th>
                <th>Property</th>
                <th>Tag name</th>
            </tr>
            {% for row in formatted_tags[tag] %}
                <tr>
                    <td> <a href="{{url_for("main.nodes", id=row[1] ) }}">{{ row[0] }}</a> </td>
                    <td> <a href="{{url_for("main.properties", id=row[3] ) }}">{{ row[2] }}</a> </td>
                    <td> {{row[4]}} </td>
                </tr>
            {% endfor %}
        </table>

    <br><br>
    {% endfor %} 
{% else %}
    No tags were found
{% endif %}

{% endblock %}
