{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}
    <br>
    <h1> Edit Data Subsets</h1>
    <br>
   
    <form action="{{ url_for('datasubsets.tagtheta') }}" method="POST">
        {{ form.hidden_tag() }}  
        {{ form.csrf_token() }} 

    <div class="container">

        
            <div class="row"> 
                <div class="col-4">
                        {{ render_field(form.aset) }}
                </div>   
                <div class="col-4">
                        {{ render_field(form.bset) }}
                </div>
                <div class="col-4">             
                    {{ render_field(form.newsubset_model) }}
                    {{ render_field(form.newsubset_tag) }}
                </div>
                <div class="w-100"></div>
                <div class="col-4">             
                    {{ render_field(form.submit, button_map={'submit': 'primary' }) }}
                </div>
                <div class="col-4">             
                    &nbsp;
                </div>
                <div class="col-4">             
                    {{ render_field(form.create, button_map={'create': 'secondary' }) }}
                </div>
            </div>   
        
    </div>    
            
</br>
</br>

    <div class="container">     
         <div class="row w-100">
            <div class="col"> 
                {% if formatteda %}
                {% for tag in formatteda %}
                <h2> MAIN: {{ taga }}</h2>
                
                    <table class="table table-striped">
                        <tr>
                            <th>Node</th>
                            <th>Property</th>
                            <th>Remove</th>
                        </tr>
                        {% for row in formatteda[tag] %}
                            <tr>
                                <td> <a href="{{url_for("main.nodes", id=row[1] ) }}">{{ row[0] }}</a> </td>
                                <td> <a href="{{url_for("main.properties", id=row[3] ) }}">{{ row[2] }}</a> </td>
                                <td> <a class="btn btn-outline-primary btn-sm" href="#" role="button">Remove</a></td>
                            </tr>
                        {% endfor %}
                    </table>

                <br><br>
                {% endfor %} 
                {% else %}
                No tags were found
                {% endif %}
            </div>

            <div class="col">
               

                    {% if form.subformB %}
                    <h2> REF: {{ tagb }} </h2>

                        <table class="table table-striped">
                            <tr>
                                <th>Node</th>
                                <th>Property</th>
                                <th>Tag name</th>
                            </tr>
                            {% for var in variable_name_list %}
                                <tr>
                                    <td> <a href="{{url_for("main.nodes", id=form[var[1]] ) }}">{{ form[var[0]] }}</a> </td>
                                    <td> <a href="{{url_for("main.properties", id=form[var[3]] ) }}">{{ form[var[2]] }}</a> </td>
                                    <td> {{ render_field(form[var[4]], button_map={'add': 'secondary'})  }} </td>
                                </tr>
                            {% endfor %}
                        </table>

                    <br><br>
                    {% else %}
                    No tags were found
                    {% endif %}
           
            </div> <!--end col-->
        </div> <!-- end row-->
    </div>

 </form>    

{% endblock %}
