{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}
    <br>
    <h1> Edit Data Subsets</h1>
    <br>
   
    <div class="container">
        <form action="{{ url_for('datasubsets.tagdelta') }}" method="POST">
            {{ form.hidden_tag() }}  
            {{ form.csrf_token() }}  
        
        
            <div class="row"> 
                <div class="col-4">
                        {{ render_field(form.aset) }}
                </div>   
                <div class="col-4">
                        {{ render_field(form.bset) }}
                </div>
                <div class="col-4">             
                    {{ render_field(form.newsubset_model) }}
                    {{ render_field(form.newsubset_tag) }}
                </div>
                <div class="w-100"></div>
                <div class="col-4">             
                    {{ render_field(form.submit, button_map={'submit': 'primary' }) }}
                </div>
                <div class="col-4">             
                    &nbsp;
                </div>
                <div class="col-4">             
                    {{ render_field(form.create, button_map={'create': 'secondary' }) }}
                </div>
            </div>   
        </form>
    </div>    
            
</br>
</br>

    <div class="container">     
         <div class="row w-100">
            <div class="col"> 
                {% if formatteda %}
                {% for tag in formatteda %}
                <h2> MAIN: {{ taga }}</h2>
                
                    <table class="table table-striped">
                        <tr>
                            <th>Node</th>
                            <th>Property</th>
                            <th>Remove from MAIN</th>
                        </tr>
                        {% for row in formatteda[tag] %}
                            <tr>
                                <td> <a href="{{url_for("main.nodes", id=row[1] ) }}">{{ row[0] }}</a> </td>
                                <td> <a href="{{url_for("main.properties", id=row[3] ) }}">{{ row[2] }}</a> </td>
                                <td> <a class="btn btn-outline-primary btn-sm" href="#" role="button">Remove</a></td>
                            </tr>
                        {% endfor %}
                    </table>

                <br><br>
                {% endfor %} 
                {% else %}
                No tags were found
                 {% endif %}
            </div>

            <div class="col">
                <form action="{{ url_for('datasubsets.tagphi') }}" method="POST">
                    {% if formattedb %}
                    {% for tag in formattedb %}
                    <h2> REF: {{ tagb }} </h2>

                        <table class="table table-striped">
                            <tr>
                                <th>Node</th>
                                <th>Property</th>
                                <th>Add to MAIN</th>
                                <!--<th>Tag name</th>-->
                            </tr>
                            {% for row in formattedb[tag] %}
                                <tr>
                                    <td> <a href="{{url_for("main.nodes", id=row[1] ) }}">{{ row[0] }}</a> </td>
                                    <td> <a href="{{url_for("main.properties", id=row[3] ) }}">{{ row[2] }}</a> </td>
                                    <!--<td> {{ formb[row[3]]() }} </td>-->
                                    <td> <a class="btn btn-outline-primary btn-sm" href="#" role="button">Add</a></td>
                                </tr>
                            {% endfor %}
                        </table>

                    <br><br>
                    {% endfor %} 
                    {% else %}
                    No tags were found
                    {% endif %}
                    </form>
            </div> <!--end col-->



        </div> <!-- end row-->
    </div>

{% endblock %}
