{% from 'bootstrap/form.html' import render_form, render_field, render_hidden_errors %}
{# generalize from "editform.<entity>handle" to "editform.handle"  (for terms, form.termvalue)#}
{# new parameter to this template: "entity" [Node|Property|Term|] #}
{% block edit_functions %}
            <!-- edit deprecate buttons -->
            <div class="float-left">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editPropModal">
                Edit {{ entity }}
              </button>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deprecatePropModal">
                Deprecate {{ entity }}
              </button>
            </div>   
            <!-- end buttons -->
            
            <!-- Edit Modal -->
            <div class="modal fade" id="editPropModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form class="form" method="post" role="editform">
                    
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <h3 class="modal-title" id="exampleModalLabel">Edit {{ entity }}</h3>
                    </div>
                    <div class="modal-body">
		      
                      {{ editform.hidden_tag() }}
                      {{ render_hidden_errors(editform) }}
                      {{ render_field(editform.handle) }}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      {{ render_field(editform.submit) }}
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- End Edit Modal-->
	    
            <!-- Deprecate Modal -->
            <div class="modal fade" id="deprecatePropModal" tabindex="-1" aria-labelledby="deprecateModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form class="form" method="post" role="deprecateform">
                    
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <h3 class="modal-title" id="deprecateModalLabel">Deprecate {{ entity }}</h3>
                    </div>
                    <div class="modal-body">
                      
                      {{ deprecateform.hidden_tag() }}
                      {{ render_hidden_errors(deprecateform) }}
                      Do you want to deprecate the property {{ mdb.value }} ?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      {{ render_field(deprecateform.submit) }}
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- End Deprecate Modal-->
{% endblock edit_functions %}
