name: Run Tests with Coverage

on:
  pull_request:
    branches:
      - master
      - '*.*.*'
  push:
    branches:
      - master
      - '*.*.*'

jobs:
  test-coverage:
    # Set up operating system
    name: Run Tests and Report Coverage
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./python
    # Define job steps
    steps:
    - name: Set up Python 3.11
      uses: actions/setup-python@7f4fc3e22c37d6ff65e88745f38bd3157c663f7c
      with:
        python-version: 3.11
    
    - name: Check-out repository
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744
      
    - name: Install poetry
      uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a

    - name: Install Docker Compose
      uses: ndeloof/install-compose-action@4a33bc31f327b8231c4f343f6fba704fedc0fa23
      with:
          legacy: true

    - name: Update lock
      run: poetry lock
      
    - name: Install package
      run: poetry install
      
    - name: Test with pytest
      run: poetry run pytest --cov=bento_sts --cov-report=xml --cov-report=term-missing

    - name: Upload coverage to Coveralls
      uses: coverallsapp/github-action@v2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        flag-name: unit-tests
        parallel: false
      continue-on-error: true

